<%=flash[:errors]%>
<%=@user.name%>
<% @user.secrets.each do |s|%>
	<p><%=s.content%></p>
	<p><%=s.likes.count%> likes</p>
	<form action="/secrets/<%=s.id%>" method = "post">
		<input type="hidden" name = "authenticity_token" value = "<%=form_authenticity_token%>">
		<input type="hidden" name = "_method" value = "delete">
		<input type="submit" value = "Delete">
	</form>
<%end%>
<hr>
<a href="/users/<%=@user.id%>/edit">Edit Profile</a>

<form action="/secrets/<%=@user.id%>" method = "post">
	<input type="hidden" name = 'authenticity_token' value = "<%=form_authenticity_token%>">
	<label for="content">New Secret</label>
	<input type="text" name = "content" id = "content">
	<input type="submit" value = "Create Secret">
</form>
